

<table>
  <thead>
    
    <tr>
      <th>Title</th>
      <th>Image url</th>
      <th>Description</th>
      <th>Tags</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <div class="jumbotron">
      <center>
      <h1>The List of Dads</h1>
      <p>Find your next father...</p>
      <p><a class="btn btn-primary btn-lg" href="http://pyke-railske-91957.use1-2.nitrousbox.com/dads/new" role="button">Add Dad</a></p>
      </center>   
    </div>
    
    
    <% @dads.each do |dad| %>
      <tr>
        <td><%= dad.title %></td>
        <td><%= dad.image_url %></td>
        <td><%= dad.description %></td>
        <td><%= dad.tags %></td>
        <td><%= link_to 'Show', dad %></td>
        <td><%= link_to 'Edit', edit_dad_path(dad) %></td>
        <td><%= link_to 'Destroy', dad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dad', new_dad_path %>
